body {
    background-color: #deba80; 
    background-image: url('paper-small.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center top;
}
/*body {
    background: #deba80 url('paper-small.jpg') repeat fixed center top;
}*/

header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #a78f8f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
 }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a78f8f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}
aside {
    clear: both;
    margin-bottom: 60px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    height:50px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#content {
    margin-top: 180px;
    float: left;
    position: static;
}

h1 {
    position: top;
    top: 10px;
    left: 10px;
}

td {
    text-align: center;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

#nav-bar {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

#additional-info {
    position: relative;
    top: 20px;
    margin-bottom: 100px;
}

#adds {
    float: right;
    clear: both;
    height: 250px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
#adbutton {
  float: right;
  clear: both;
  margin-inline-end: 30px;
}

p b {
    color: rgb(204, 57, 40);
}

ul#nav-bar>li {
    display: inline-block;
    margin-right: 40px;
}
/* Wielkość tekstu w pikselach */
.pixels {
    font-size: 28px;
}

/* Wielkość tekstu w em */
.em {
    font-size: 1.2em;
}

/* Wielkość tekstu w punktach */
.points {
    font-size: 12pt;
}

/* Wielkość tekstu w procentach */
.percent {
    font-size: 120%;
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-size: 28px;
    line-height: 1.5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-weight: lighter;
  font-style: normal;
  font-variant: normal;
  font-size: 14pt;
  line-height: 1.2;
  font-family: Arial, sans-serif;
  width: 80%;
}

.simple-border {
  border-width: 5px;
  border-style: solid;
  border-color: #000;
}

table {
  width: 80%;
  border-collapse: separate;
  align-items: center;
  text-align: center;
}

th, td {
  padding: 4px;
  border: 2px solid #432e11;
}

th {
  background-color: #c08d37;
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 600px) {
  footer {
    background-color: rgb(219, 125, 57);
  }
  nav {
      background-color: rgb(219, 125, 57);
  }
}

/* a:active { 
  color: green; 
}

input:checked { 
  border: 1px solid green; 
}
 
input:disabled { 
  background-color: #ccc;
}

p:empty { 
  display: none; 
} */

input:enabled {
  background-color: lightgreen;
}

/* p:first { 
  font-weight: bold;
}

p:first-child { 
  font-weight: bold; 
}

input:focus {
  border: 2px solid blue;
}

a:hover { 
  color: red; 
}

p:last-child {
  font-style: italic; 
}

p:last-of-type {
  font-weight: bold;
} */

a:link {
  color: blue; 
}

/* ol:not(.simple-border) { 
  font-style: italic;
}

p:nth-child(odd) {
  background-color: #d4a43b; 
}

li:nth-last-child(2) {
  font-style: italic;
}

span:only-child { 
  color: red;
}

input:required {
  border: 3px solid red;
} */

a:visited {
  color: purple; 
}

#nav-bar:target { /*???*/
  background-color: lightblue;
}

 /* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

    /* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */

    
    #menu, #menu ul, #menu ol {
      list-style-type:none;
      padding:0;
      margin:0;
    }

    /* wygląd głównego elementu - ol */
    #menu {
      background-color:#FFF;
      font-size:18px;
      height:2em;
      line-height:2em;
      text-align:center;
    }

    /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
    #menu a {
      display:block;
      text-decoration:none;
      color:#000;
      padding:0 5px;
    }

    /* wygląd elementów - li - wszystkich dzieci elementu - ol */
    #menu > li {
      float:left;
      width:150px;
      margin-left:1px;
      background-color:#a78f8f;
      height:2em;
    }

    /* wygląd elementu - li - pierwszego dziecka elementu - ol */
    #menu > li:first-child {
      margin-left:0;
    }

    /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
    #menu > li:hover {
      background-color:#EEE;
    }

    /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
    #menu > li:hover > a {
      color:#09C;
    }

    /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
    #menu > li:hover > ul {
      display:block;
    }

    /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

    /* wygląd głównych rozwijanych elementów - ul */
    #menu > li > ul {
      display:none;
    }

    /* wygląd elementu - li - w części rozwijanej */
    #menu > li > ul > li {
      position:relative;
      background-color:#EEE;
    }

    /* wygląd elementu - a - w części rozwijanej */

    /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
    #menu > li > ul > li:hover {
      background-color:#DDD;
    }

    /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
    #menu > li > ul > li:hover > a {
      color:#09C;
    }

    /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

    /* wygląd głównego elementu - ol - w drugiej części rozwijanej */
    #menu > li > ul > li > ol {
      display:none;
      width:150%;
      position:absolute;
      left:100%;
      margin-top:-2em;
    }

    /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
    #menu > li > ul > li:hover > ol {
      display:block;
    }

    /* wygląd elementów - li - w drugiej części rozwijanej */
    #menu > li > ul > li > ol > li {
      background-color:#CCC;
    }



    /* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
    #menu > li > ul > li > ol > li > a:hover {
      color:#09C;
    }

    /* ------------------------WSPÓLNE----------------------- */


    /* strzałka w prawo */
    #menu .dol {
      background-image:url('https://webkod.pl/images/down.png');
      background-repeat:no-repeat;
      background-position:98% center;
    }

    /* strzałka w dół */
    #menu .prawo {
      background-image:url('https://webkod.pl/images/right.png');
      background-repeat:no-repeat;
      background-position:98% center;
    }  

  
  #getUserRateButton{
    float: right;
    bottom: 10%;
  }